
<div id="" ng-controller="StageController as vm" apply-change style=" overflow: auto;">
    <div class="widget-box" window-height apply-change  >
            <div class="widget-title" apply-change >

                <ul class="nav nav-tabs" style="margin-bottom: 0px;">
                    <li ng-class="{'active_tab' : vm.selected_tab_index == $index }" class="tab_pad" ng-repeat="tab in vm.tabs track by $index"><a  href="/dashboard/{{$index}}" apply-change=""> <i class="icon icon-file"></i> {{tab.name}}</a></li>
                    <li ng-click="vm.addNewTab()" class="clickable" ><a apply-change=""> <i class="icon icon-plus"></i> New File</a></li>
                    <li>
                        <div class="uploader" id="uniform-undefined">
                            <form action="">
                            <input   name="file" file-reader="uploadFile" type="file"  style="opacity: 0; ">
                            <span class="filename">No file selected</span>
                            <span class="action">Upload File</span>
                            </form>
                        </div>
                    </li>
                </ul>
                <div id="tab_holder" class="xwidget-content tab-content"  apply-change  apply-font-change>
                    <div editor-id="el_{{$index}}" color="{{vm.color}}"  file_extension ="{{vm.tabs[$index].extension}}" code-editor ng-model="vm.tabs[$index].code" ng-if="vm.selected_tab_index == $index" id="editor{{$index}}" ng-repeat="tab in vm.tabs track by $index"></div>
                </div>
            </div>
        </div>
</div>