<!--Header-part-->
<div id="header" style="height: 40px;padding-left: 51px;">
    <h3><a href="#">Codebug</a></h3>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav" >
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome {{navActions.user.email}}</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
                <li class="divider"></li>
                <li ng-click="navActions.signOut()" ><a ><i class="icon-key"></i> Log Out</a></li>
            </ul>
        </li>
        <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Invitees</span> <span class="label label-important">5</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
                <li class="divider"></li>
                <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
                <li class="divider"></li>
                <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
                <li class="divider"></li>
                <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
            </ul>
        </li>
        <li class="dropdown " id="theme" >
            <a title="" href="#" data-toggle="dropdown" data-target="#theme" class="dropdown-toggle">  <span class="text">Choose a theme</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu" theme-change>
                <li data-value="white"><a href="#"><i class="icon-adjust"></i>White</a></li>
                <li class="divider"></li>
                <li data-value="black"><a href="#"><i class="icon-align-center"></i>Black</a></li>
                <li class="divider"></li>
                <li data-value="ash"><a href="#"><i class="icon-bolt"></i>Ash</a></li>
                <li class="divider"></li>
                <li data-value="grey"><a href="#"><i class="icon-circle-arrow-up"></i>Grey</a></li>
            </ul>
        </li>
        <li class="dropdown " id="font" >
            <a title="" href="#" data-toggle="dropdown" data-target="#font" class="dropdown-toggle">  <span class="text">Choose a fontsize</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu" font-size-change>
                <li data-value="12"><a href="#">12</a></li>
                <li class="divider"></li>
                <li data-value="14"><a href="#">14</a></li>
                <li class="divider"></li>
                <li data-value="20"><a href="#">20</a></li>
                <li class="divider"></li>
                <li data-value="25"><a href="#">25</a></li>
            </ul>
        </li>
        <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
        <li   class="" ng-click="navActions.sendInvite()"><a title="" ><i class="icon icon-cog"></i> <span class="text">Invite Peers</span></a></li>
        <li class="" ng-click="navActions.signOut()"><a title="" ><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>

<!--start-top-serch-->
<div id="search">
</div>
<!--close-top-serch-->