<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
<!--<script type="text/javascript" src="/app/assets/js/ace.js" charset="utf-8"></script>-->
<!--<script type="text/javascript" src="/app/assets/js/ext-emmet.js" charset="utf-8"></script>
<script type="text/javascript" src="/app/assets/js/ext-language_tools.js" charset="utf-8"></script>
-->
<script src="https://togetherjs.com/togetherjs-min.js"></script>

<script src="/app/assets/js/excanvas.min.js"></script>
<script src="/app/assets/js/jquery.min.js"></script>
<script src="/app/assets/js/jquery.ui.custom.js"></script>
<script src="/app/assets/js/bootstrap.min.js"></script>
<!--
<script src="/app/assets/js/jquery.flot.min.js"></script>
<script src="/app/assets/js/jquery.flot.resize.min.js"></script>
<script src="/app/assets/js/jquery.peity.min.js"></script>
<script src="/app/assets/js/matrix.js"></script>
<script src="/app/assets/js/fullcalendar.min.js"></script>
<script src="/app/assets/js/matrix.calendar.js"></script>
<script src="/app/assets/js/matrix.chat.js"></script>
<script src="/app/assets/js/jquery.validate.js"></script>
<script src="/app/assets/js/matrix.form_validation.js"></script>
<script src="/app/assets/js/jquery.wizard.js"></script>
<script src="/app/assets/js/jquery.uniform.js"></script>
<script src="/app/assets/js/select2.min.js"></script>
<script src="/app/assets/js/matrix.popover.js"></script>
<script src="/app/assets/js/jquery.dataTables.min.js"></script>
<script src="/app/assets/js/matrix.tables.js"></script>
<script src="/app/assets/js/matrix.interface.js"></script>-->
<script type="text/javascript">
   setTimeout(function () {
       $('body').removeClass('hide_body');
   }, 100);

</script>

</body>
</html>
