<!DOCTYPE html>
<html lang="en" ng-app="DebugApp">
<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/app/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/app/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/app/assets/css/uniform.css" />
    <link rel="stylesheet" href="/app/assets/css/select2.css" />
    <link rel="stylesheet" href="/app/assets/css/matrix-style.css" />
    <link rel="stylesheet" href="/app/assets/css/matrix-media.css" />
    <link href="/app/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <!--<script src="./app/bower_components/angular/angular.js"></script>
    <script src="./app/bower_components/angular-route/angular-route.js"></script>
    <script src="./app/bower_components/angular-resource/angular-resource.js"></script>-->
    <script src="/app/js/model.min.js"></script>
    <script src="/app/js/angular-lib-min.js"></script>
    <script src="/app/js/app.js"></script>
    <script src="/app/js/services-lib-min.js"></script>
    <script src="/app/js/directives-libs-min.js"></script>
    <script src="/app/js/controller-libs-min.js"></script>
    <meta name="google-signin-client_id" content="<?php echo  $configurations['google']['Client ID']?>">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <!--    <script src="./app/js/Controllers/navController.js"></script>-->
    <script type="text/javascript">
        TogetherJSConfig_toolName = "CoDebug";
        TogetherJSConfig_suppressInvite = true;
        TogetherJSConfig_dontShowClicks = true;
        TogetherJSConfig_suppressJoinConfirmation = true;  // UI still pops up if we don't hide it with CSS, but it seems to auto-accept.
        TogetherJSConfig_autoStart = true;
    </script>

    <base href="/">
    <script type="text/javascript">
        var __User = <?php echo json_encode(\Utils\Utils::setSession('user')); ?>;
    </script>
    <style type="text/css">
        .clickable{
            cursor: pointer;
        }
        .active_tab {
            border-bottom: 2px solid red;
        }
        .editor_screen {
            width: 100%;
            height: 100%;
            padding: 0px !important;
            margin: 0px !important;
        }
        .hide_body {
            display: none !important;
        }
    </style>
    <style>
        *.togetherjs {
            /*display: none;*/
        }
    </style>
</head>
<body class="hide_body" oncontextmenu="return true;">