<span ng-controller="MainController as mainActions">
<modal ng-show="mainActions.show_modal" on-close-btn-clicked="mainActions.onCloseBtnClicked()" template="mainActions.modal_config.template" data=mainActions.modal_config.data buttons=mainActions.modal_config.buttons></modal>


<span ng-include="'./app/templates/navbar.phtml'"  ng-controller="navController as navActions"></span>
    <div ng-view >
    </div>

</span>



