<div id="loginbox" >
    <?php
    $message = \Utils\Utils::getFlashMessage();

    if($message){?>
        <div style="text-align: center" class="alert alert-danger"><?php echo $message;?></div>
   <?php }?>
    <form id="loginform" class="form-vertical" action="index.html">

        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <button class="btn btn-danger btn-large"><i class="icon-google-plus-sign "></i> <a href="/googlelogin" style="color: white;text-decoration: none"> Sign in with google</a></button>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <button class="btn btn-primary btn-large btn"><i class="icon-github-alt"></i> <a  style="color: white;text-decoration: none" href="https://github.com/login/oauth/authorize?client_id=480ec67406d0e7a79e1d&scope=user:email&state=itunu&allow_signup=false"> Sign in with github</a></button>
                </div>
            </div>
        </div>
    </form>
</div>


