<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matrix Admin</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./app/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./app/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="./app/assets/css/matrix-login.css" />
    <link href="./app/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <meta name="google-signin-client_id" content="<?php echo  $configurations['google']['Client ID']?>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>
